* {
    width: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    height: 10%;
    text-align: center;
    Justify-content: center;
    padding: 10px;
}

a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

body {
    display: block;
    margin: 8px;
}

header {
    float: left;
    background-color: #79bd9a;
    width: 100%;
}

header P {
    float: right;
}

footer {
    background-color: #79bd9a;
}