* {
    font-family: Arial, Helvetica, sans-serif;
}

.img-imagens {
    width: 40%;
    height: 40%;
}

.contato {
    width: 40%;
    height: 40%;
}

header {
    float: left;
    background-color: #79bd9a;
    width: 100%;
}

header P {
    float: right;
}

a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #fff;
    background: #0b486b;
    padding: 20px 5px;
}

#logo {
    float: left;
    width: 45%;
    height: 45%;
    display: block;
}

nav {
    float: right;
    padding: 20px;
}

#menu-icon {
    display: hidden;
    width: 40px;
    height: 40px;
    background: #4c8fec url('../img/menu-icon.png')center;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    float: none;
    padding: 10px;
}

body {
    display: block;
    margin: 8px;
}

footer {
    background-color: #79bd9a;
    color: white;
    text-align: center;
    padding: 5px;
}


/*MEDIA QUERY*/

@media only screen and (max-width:940px) {
    #menu-icon {
        display: inline-block;
    }
    nav ul {
        display: none;
        position: absolute;
        left: 20px;
        top: 60px;
        padding: 20px;
        background: #fff;
        width: 20%;
    }
    nav li {
        text-align: left;
        width: 100%;
        padding: 10px 0;
        margin: 0;
    }
    nav:hover ul {
        display: block;
    }
    nav li a {
        color: #3b8686;
    }
    nav:hover ul {
        display: block;
    }
    p {
        text-align: justify;
    }
    .depoimentos {
        box-shadow: 10px 10px 5px #888888;
        border-radius: 5px;
        width: 95%;
    }
}